@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    font-family: Roboto, sans-serif;
    background: #161819;


}

#chart {
    max-width: 1100px;
    color: #000300;


}

#chartColumn {
    max-width: 1100px;
    color: #000300;


}

.name {
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px #000300;
    background: black;
    height: auto;
    color: pink;
    width: 100px;
    margin: 10;
}

.tooltip {
    position: absolute;
    background-color: black;
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
    color: pink;
    border-radius: 20px;
}